# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# https://editorconfig.org

# top-most EditorConfig file - makes it stop looking above this
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{blade.php,coffee,css,feature,html,xml,js,jsx,json,less,phtml,rake,rb,scss,yaml,eyaml,yml,babelrc,vue,neon,cfg,rest,lua,pu,plantuml,uml,hurl}]
indent_size = 2

[Makefile]
indent_style = tab
