# vim: set ft=dosini:
# config for mysql prompt
[mysql]
# prompt = "\u@\h [\d] > "
prompt = "\h [\d] > "
pager = pspg --reprint-on-exit

# Turn on the LOAD DATA INFILE statement
local-infile = on

[client]
# default connection details
host = localhost
user = root
# password = mypassword
# port = 3306

# Connect via a socket.
# socket = '/tmp/mysql.sock'

# Another local infile alias.
# Use it if the previous one clashes with other MySQL tools.
# loose-local-infile = on

default-character-set = utf8
# Error is displayed: 'NoneType' object has no attribute 'encoding'
# default-character-set = utf-8

# SSL options - see the MySQL documentation for more information.
# https://dev.mysql.com/doc/refman/5.7/en/secure-connection-options.html#option_general_ssl-ca
# ssl-ca
# ssl-cert
# ssl-key
# ssl-cipher
# ssl-verify-server-cert

# Configure the pager
# TODO: How do I do this in a way that doesn't break mysqldump?
# https://stackoverflow.com/questions/5611974/how-do-you-set-a-default-pager-for-the-mysql-client
# cool ncurses pager https://github.com/okbob/pspg
# pager = pspg --reprint-on-exit
pager = ~/.support/pspg-helper.sh
# pager = grcat ~/.grcat | less -RSFXin
# pager = 'vim -'
