[tools]
# mise plugins list https://github.com/jdx/mise/blob/main/registry.toml
# mise search {fuzzy}
# aqua g

bun = "latest"
deno = "latest"
go = "latest"
java = "latest" # needed for plantuml
lua = "latest"
node = { version = "latest", postinstall = "corepack enable" }
php-brew = { version = "8.4", postinstall = "pie install xdebug/xdebug && pie install php-memcached/php-memcached --with-zlib-dir=$(brew --prefix zlib) && pie install imagick/imagick" }
python = "latest"
ruby = "latest"

usage = "latest" # needed for mise completion

"aqua:ankitpokhrel/jira-cli" = "latest"
"aqua:awslabs/git-secrets" = "latest"
"aqua:bensadeh/tailspin" = "latest"
"aqua:snyk/cli" = "latest"
"aqua:tealdeer-rs/tealdeer" = "latest"
"aqua:variadico/noti" = "latest"
"aqua:zk-org/zk" = "latest"
"gem:lunchy" = "latest"
"gem:terminal-notifier" = "latest"
"go:github.com/laravel-ls/laravel-ls/cmd/laravel-ls" = "latest"
"npm:@devcontainers/cli" = "latest"
"ubi:abhinav/git-spice" = { version = "latest", exe = "gs", rename_exe = "git-spice" }
"ubi:algolia/cli" = { version = "latest", exe = "algolia" }
"ubi:cbednarski/hostess" = "latest"
"ubi:cormacrelf/dark-notify" = "latest"
# "aqua:mas-cli/mas" = "latest" # TODO: doesn't work - wrong path
# "ubi:https://github.com/plantuml/plantuml/releases/download/v1.2025.9/plantuml-1.2025.9.jar" = { version = "1.2025.9", rename_exe = "plantuml" } # it gets renamed properly but it doesn't work
# gcloud = { version = "latest", postinstall = "gcloud components update" } # components update is not needed as it should be included in the latest gcloud update from mise
amazon-ecr-credential-helper = "latest"
aws-cli = "latest"
aws-sam-cli = "latest"
bat = "latest"
carapace = "latest"
cloudflared = "latest"
coreutils = "latest"
ctop = "latest"
delta = "latest"
eza = "latest"
fzf = "latest"
gcloud = "latest"
gh = "latest"
httpie-go = "latest"
jq = "latest"
k9s = "latest"
kubecolor = "latest"
neovim = "latest"
ollama = "latest"
opencode = "latest"
pandoc = "latest"
poetry = "latest"
pre-commit = "4.4.0" # 4.5.0 not working - failed to download
ripgrep = "latest"
tmux = "latest"
uv = "latest"
yadm = "latest"
"cargo:envex" = "latest"

[tools."http:atlassian-cli"]
version = "latest"
rename_exe = "acli"
platforms.macos-x64.url = "https://acli.atlassian.com/darwin/latest/acli_darwin_amd64/acli"
platforms.macos-arm64.url = "https://acli.atlassian.com/darwin/latest/acli_darwin_arm64/acli"
platforms.linux-x64.url = "https://acli.atlassian.com/linux/latest/acli_linux_amd64/acli"
platforms.linux-arm64.url = "https://acli.atlassian.com/linux/latest/acli_linux_arm64/acli"

[tools."http:akamai-cli"]
version = "2.0.2"
postinstall = "akamai install purge && akamai update"
rename_exe = "akamai"
platforms.macos-x64.url = "https://github.com/akamai/cli/releases/download/v2.0.2/akamai-v2.0.2-macamd64"
platforms.macos-arm64.url = "https://github.com/akamai/cli/releases/download/v2.0.2/akamai-v2.0.2-macarm64"
platforms.linux-x64.url = "https://github.com/akamai/cli/releases/download/v2.0.2/akamai-v2.0.2-linuxamd64"
platforms.linux-arm64.url = "https://github.com/akamai/cli/releases/download/v2.0.2/akamai-v2.0.2-linux386"

# TODO: bin/rename_exe property doesn't work
# [tools."http:plantuml"]
# version = "1.2025.9"
# url = "https://github.com/plantuml/plantuml/releases/download/v1.2025.9/plantuml-1.2025.9.jar"
# rename_exe = "plantuml"

[settings]
experimental = true
idiomatic_version_file_enable_tools = []
